
#lg{
    margin-top: -40px;
    /*float: left;*/
    /*/  margin-left: 100px;*/
}
#carousel {
    margin: 0 auto;
    width: 700px;
    height: 590px;
    padding: 0;
    overflow: scroll;
    border: 2px solid #999;
}
#carousel ul {
    list-style: none;
    width: 1500px;
    margin: 0;
    padding: 0;
    position: relative;
}
#carousel li {
    display: inline;
    float: left;
}
.textholder {

    text-align: left;
    font-size: large;
    padding: 6px;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}
#mvup {
    opacity: 0.5;
    position: fixed;
    display: none;
    z-index: 1000;
    margin-top: 30%;
}
#mvup:hover {
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*margin: 20px;*/
}
#mainmenu{
    border-bottom: 1px solid darkgray;
    margin: 0;
    width: 100%;
    opacity: 0.9;

    /*border: 1px solid #000000;*/
}


ul.menu {
    /*width: 100%;*/
    text-align: center;
    /*margin-left: -100px;*/
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4f4f4f), to(#2b2b2b));
     background-image: -webkit-linear-gradient(white, #2b2b2b);
     background-image: -moz-linear-gradient(top, white, #2b2b2b);
     background-image: -ms-linear-gradient(white, #2b2b2b);
     background-image: -o-linear-gradient(white, #2b2b2b);
     background-image: linear-gradient(white, #2b2b2b);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#2b2b2b', GradientType=0);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    /*width: 700px;*/

}

ul.menu li {
    margin-top: 40px;
    float: left;
    list-style: none;
    /*border-right: 1px solid #4f4f4f;*/
    position: relative;
    padding-right: 15px ;
}

ul.menu li a {

    color: orange;
    display: block;
    font-family: Arial;
    font-size: 13px;
    padding: 8px 20px 10px;
    text-decoration: none;
    border-right: 1px solid white;
}

ul.menu li a:hover {
    background-color:white;
}

ul.menu li:first-child a:hover {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}

ul.menu li ul {
    display: none;
}

ul.menu li:hover ul {
    display: block;
    position: absolute;

    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    background-color: white;
    z-index: 1000;
}

ul.menu li:hover ul li {
    float: none;
    width: 150px;
    border-right: none;
}

ul.menu li:hover ul li a {
    border-top: 1px solid white;
    border-right: none;
    padding: 6px 20px 8px;
}

ul.menu li:hover ul li a:hover {
    background-color: transparent;
    color: orange;
}

ul.menu li:hover ul li:first-child a:hover {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.inln {
    padding: 5px;
    margin: 5px;
    text-align: left;
    float: left;
    display: inline-block;

}

.inln:nth-child(odd) {

    border: 1px solid;
}

#contacts {
    text-align: center;
    margin-left: 120px;
    width: auto;
}
.container {
    width:auto;
    margin:0 auto;
}
/*.content-resizer{*/
/*border-top:1px solid dimgray;*/
/*}*/
#head{
    color: #ffffff;
    background-color: orange;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 15px;
}
#links{
    float: right;

}
#foot{
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    /*padding-left: 40px;*/
    /*padding-right: 40px;*/
    padding: 15px 100px 15px 90px;
    color: #ffffff;
    height: 50px;
    width: 100%;
    background-color: #212121;
    border-top:1px solid #ffffff ;
}
#grey-line{
    height: 20px;
    background-color: darkgrey;
}
#info{
    font-size: 0.95em;
color: #ffffff;
    background-color: #666666 ;

}
/*  #t ul {

      list-style: none;
      text-decoration: none;
  }
 #t  li {
      display: inline-block;
      width: 49%;
      vertical-align: top;
      text-decoration: underline;
  }*/
#list{

    float: left;
}
#t ul{
    text-decoration: none;
}
/*main!*/
body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	/*margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	//border: 1px solid #C9E0ED;*/
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;

	text-align: center;
	/*border-top: 1px solid #C9E0ED;*/
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#single{
    z-index: 1;
    position: relative;
}
#mainmenu
{
    /*margin-left:100px;*/
    float: left;
   /*// display: inline;*/
    z-index: 20;
    position: fixed;
    height: 100px;
	background:#ffffff;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
    text-align: right;
}

#mainmenu ul li
{
	display: inline;

}

#mainmenu ul li a
{
	color:orange;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;


}

#mainmenu ul li a:hover
{
	color: orange;
	/*background-color:#EFF4FA;*/
	text-decoration:none;
}
#mainmenu ul li a:active{
    color: red;

}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}